body{
    background-color: lightgrey;
    font-family: sans-serif;
}
article{
    margin: auto;
    background-color: white;
    padding: 1em;
    border-radius: .8em;
    border: thin solid black;
}